# LaTeX project specific files
src/*.aux
src/*.bbl
src/*.blg
src/*.log
src/*.out
src/*.synctex.gz
src/*.toc
src/*.lof
src/*.lot

# Compiled output files
src/*.pdf
src/*.dvi
src/*.ps

# Temporary files
src/*.fdb_latexmk
src/*.fls
src/*.gz
src/*.gz\(busy\)
src/*.log
src/*.nav
src/*.snm
src/*.vrb
src/*.xdv

# Build directories (if you use latexmk)
src/_build

# Ignore Overleaf files (optional, if using Overleaf)
*.zip
*.tex.latexmain
*.backup

# Exclude LaTeX-specific files from "images" folder
src/images/*.aux
src/images/*.log
src/images/*.synctex.gz
